# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Environment variables (secrets)
.env

# Vendor
vendor/

# IDEs
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log

# OS
Thumbs.db
